.header_with_two_actions {
  align-self: center;
  margin: 0 auto;
}

.hero {
  color: #fff;
  text-align: center;
  margin-bottom: 10%;
}

.action-btn {
  color: #fff;
  margin: 0 6px;
  font-size: $subtitle_text_size;
  font-weight: 300;
  padding: 10px;
  padding-bottom: 15px;
}

.headers_with_two_actions {}

.v-image {}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
