.hero {
  color: #5A289C;
  text-align: center;
  font-weight: 600;

  // margin-bottom: 12%;
  // margin-top: 6%;
}

.subheader {
  text-align: center;
  font-weight: 480;

  // margin: 0 10%;
}



.v-image {
  // background-image: url('../../../assets/bg2.svg'); // margin-top: -10%;

}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
